[bumpversion]
current_version = 0.18.0
commit = True
tag = True

[bumpversion:file:VERSION]

[bumpversion:file:CMakeLists.txt]

[bumpversion:file:python/setup.py]

[bumpversion:file:misc/hdc.pc.in]

[bumpversion:file:misc/chdc.pc.in]

[bumpversion:file:misc/fhdc.pc.in]

[bumpversion:file:java/jHDC/pom.xml]
