test-hdc-focal:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-bionic:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-bionic
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-xenial:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-xenial
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-centos-7:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-centos-7
  script:
    - mkdir build
    - cd build
    - cmake3 .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - FC=gfortran ./run

test-hdc-fedora-31:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-fedora-31
  script:
    - mkdir build
    - cd build
    - cmake3 .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    # Sorry, I will not re-rerun tests because of broken python in docker.
    #- cd python
    #- python3 -m pip install .
    #- pytest
    #- cd tests_binder
    #- FC=gfortran ./run

test-pages:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=OFF
    - make -j5 install
    - cd python
    - python3 setup.py build_ext --inplace
    - cd ..
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=ON
    - make Sphinx
    - mv docs/sphinx ../public
  only:
    - branches
  except:
    - master

pages:
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=OFF
    - make -j5 install
    - cd python
    - python3 setup.py build_ext --inplace
    - cd ..
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=ON
    - make Sphinx
    - mv docs/sphinx ../public
  artifacts:
    paths:
    - public
  only:
    - master

