stages:
  - test-hdc-focal
  - test-hdc-focal-standalone-builds
  - test-hdc-focal-hdf5-1.12
  - test-hdc-bionic
  - test-hdc-xenial
  - test-hdc-centos-7
  - test-hdc-fedora-31
  - test-pages
  - pages


test-hdc-focal:
  stage: test-hdc-focal
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - apt update
    - apt install 
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DENABLE_JAVA=ON -DENABLE_HDF5=OFF
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-focal-standalone-builds:
  stage: test-hdc-focal-standalone-builds
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DENABLE_FORTRAN=OFF -DENABLE_JAVA=OFF
    - make -j
    - make test
    - make install
    - cd ../fortran
    - mkdir build
    - cd build
    - PKG_CONFIG_PATH=$PKG_CONFIG_PATH:$PWD/../../install/lib/pkgconfig cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../../install
    - make -j
    - make install
    - cd ../../java
    - mkdir build  
    - cd build
    - PKG_CONFIG_PATH=$PKG_CONFIG_PATH:$PWD/../../install/lib/pkgconfig cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../../install
    - make -j
    - make install

test-hdc-focal-hdf5-1.12:
  stage: test-hdc-focal-hdf5-1.12
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - HDF5_ROOT=/opt/hdf cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DENABLE_JAVA=ON
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-bionic:
  stage: test-hdc-bionic
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-bionic
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-xenial:
  stage: test-hdc-xenial
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-xenial
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - ./run

test-hdc-centos-7:
  stage: test-hdc-centos-7
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-centos-7
  script:
    - mkdir build
    - cd build
    - cmake3 .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    - cd python
    - python3 -m pip install .
    - pytest
    - cd tests_binder
    - FC=gfortran ./run

test-hdc-fedora-31:
  stage: test-hdc-fedora-31
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-fedora-31
  script:
    - mkdir build
    - cd build
    - cmake3 .. -DCMAKE_INSTALL_PREFIX=$PWD/../install
    - make -j
    - make test
    - make install
    # Sorry, I will not re-rerun tests because of broken python in docker.
    #- cd python
    #- python3 -m pip install .
    #- pytest
    #- cd tests_binder
    #- FC=gfortran ./run

test-pages:
  stage: test-pages
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=OFF
    - make -j5 install
    - cd python
    - python3 setup.py build_ext --inplace
    - cd ..
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=ON
    - make Sphinx
    - mv docs/sphinx ../public
  only:
    - branches
  except:
    - master

pages:
  stage: pages
  image: repo.tok.ipp.cas.cz:5050/compass-tokamak/hdc/test-hdc-focal
  script:
    - mkdir build
    - cd build
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=OFF
    - make -j5 install
    - cd python
    - python3 setup.py build_ext --inplace
    - cd ..
    - cmake .. -DCMAKE_INSTALL_PREFIX=$PWD/../install -DBUILD_DOC=ON
    - make Sphinx
    - mv docs/sphinx ../public
  artifacts:
    paths:
    - public
  only:
    - master

