build*
install*
cmake-build*
.idea

.project
hdc_new.kdev4
src/__pycache__
*.pyc
*.kdev4

\.cache/
*.mexa64
\.ipynb_checkpoints/

*.rendered
*.kate-swp
*.gcda
*.gcno
*.html
*.so
*.mod

fort.*

dump.rdb

utils/binder/Makefile
utils/binder/hdc_fortran_test_module.mod
utils/binder/hdc_fortran_test_module.so
utils/binder/hdc_fortran_test_module_bind.f90
utils/binder/hdc_fortran_test_module_bind.so
utils/binder/hdc_fortran_test_module_interface.py
utils/binder/hdc_fortran_test_module_interface.pyc

utils/binder/tests/Makefile
utils/binder/tests/*.mod
utils/binder/tests/*.so
utils/binder/tests/*.pyc
utils/binder/tests/test_*_bind.f90
utils/binder/tests/test_*_interface.py

examples/interfacing_pyhdc_with_c++/cyhdcdumper.cpp
examples/mpi/hdc_mpi_send_recv
